application/node_modules
application/public/hot
application/public/storage
application/storage/*.key
application/vendor
application/.env
application/.phpunit.result.cache
application/Homestead.json
application/Homestead.yaml
application/npm-debug.log
application/yarn-error.log
*.DS_Store
*.lock
application/storage/*
postgresql/data/*
nginx/logs/*
.idea/*

